# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# Virtual environment
venv/
.venv/

# IDE settings
.vscode/
.idea/

# Sphinx documentation build
docs/_build/

#test files
test_complex_map.json
test_map.json